    <header class="row">
        <div class="logoBox">
          <a href="{{ site.home }}"><img src="/images/logo_code_alliance.png"></a>

        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarmenu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" style="background: black;"></span>
          <span class="icon-bar" style="background: black;"></span>
          <span class="icon-bar" style="background: black;"></span>
          </button>
        <div id="navbarmenu" class="menuWrapper collapse navbar-collapse">
            <a class="menu" href="/charter/">Charter</a>
            <a class="menu" href="/gathrings/">Gatherings</a>
            <a class="menu" href="/members/">Members</a>
        </div>
    </header>
