.agenda
  margin-top: 25px

.blue
    color: $color-blue

.bold
    font-weight: bold
    text-decoration: underline

.left
    float: left

.slight-right
    margin-left: 20px

.right
    margin-left: 60px

.agenda-time
    font-weight: bold
    color: $color-blue
    float: left

.agenda-name
    font-weight: bold
    text-decoration: underline
    margin-left: 60px
