.agenda
  margin-top: 25px

.blue
    color: $color-blue

.bold
    font-weight: bold
    text-decoration: underline

.left
    float: left

.slight-right
    margin-left: 20px

<<<<<<< HEAD
.right
    margin-left: 60px
=======

//classes for markdown
.right
    margin-left: 65px
>>>>>>> close #52 fix the program layout with 2 columns

.agenda-time
    font-weight: bold
    color: $color-blue
    float: left

.agenda-name
    font-weight: bold
    text-decoration: underline
<<<<<<< HEAD
    margin-left: 60px
=======
    margin-left: 65px
>>>>>>> close #52 fix the program layout with 2 columns
