//variables

$font-family-base: 'Martel'
// $font-family-base: "Noto Serif", "serif", "Helvetica", "sans-serif"
$headings-font-family: 'Lato', "Helvetica", "sans-serif"
//$font-stack-header: 'Lato'
$font-stack-monospace: 'Ubuntu Code', "monospace"

//$font-stack-header: "Oswald", "sans-serif"
//$font-stack-monospace: "Inconsolata", "monospace"

$font-size-header: 20px
$font-size-base: 14px

$headings-font-weight: 900

$font-letter-spacing: 0.05em
$transition-time: 0.2s





$primary-color:        #333
$font-size-body:       16px
$font-size-header:     18px

// colors

$color-praqma-orange: #ff9800
// $color-darkOrange: #f57c00;
// $color-black: #282624;
// $color-white: #fff;
// $color-blue: #00b0ff;
// $color-gray: #e5e4e2;
// $color-gray-text: #959492;
// $color-light-gray: #f5f5f5;
