<!DOCTYPE html>
<html>

  {%include head.html%}

  <body>
  <div id="main_container">
    {%include banner.html%}
      <div class="row content">
        <div class="side_container">
          <a href="/gatherings/">
            <img alt="8th gathering invite" src="/images/8th-gathering.png" class="pic center" >
            <div style="width:100%; text-align:left;"><iframe src="//eventbrite.co.uk/tickets-external?eid=42525441741&ref=etckt" frameborder="0" height="250" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
            <hr/>
            <b>If you need an invite - mail us as <a href="mailto:alliance@praqma.com">alliance@praqma.com</a> and explain your case</b>
          </a>
        </div>
        <div class="content_container">
          <h1>{{page.title}}</h1>
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
